
<p class="text-primary">Enter words or phrases in the fields below, and we'll let you know if it's an anagram (all the letters in one exactly match all the letters in the other), or if it's an antigram (none of the letters in either match). Punctuation and spacing don't effect the answer, and special characters and numbers will just be ignored...so type them all you like, but the match is on words only!</p>
<form action="/form" method="post">
  <div class="form-group">
    <label for="word1" class="text-muted">Enter a word or phrase:</label>
    <input id="word1" name="word1" class="form-control" type="text">
    <label for="word2" class="text-muted">Enter another word or phrase to compare:</label>
    <input id="word2" name="word2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-warning">????</button>
</form>
<h2>Is it an anagram?</h2>
<h2 class="text-primary"><%= @kitty %><%= @hello %><%= @answer %></h2>
<h3>Any palindromes in there?</h3>
<h4 class="text-success">The first field <%= @word1_palindrome %></h4>
<h4 class="text-success">The second field <%= @word2_palindrome %></h4>
